body{
    background-color: #014126;
}

*{
    padding: 0;
    margin: 0;
}

.co {
    color:rgba(78, 1, 78, 0.637);
    color: #cefae8e1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;